@import 'bootstrap/scss/bootstrap.scss';

:root {
  --sahibin-light-color: #fee800;
  --sahibin-dark-color: #3f475f;
}

.container-fluid {
  padding-right: calc(var(--bs-gutter-x) * 1.5);
  padding-left: calc(var(--bs-gutter-x) * 1.5);
}

.text-sahibin-dark {
  color: var(--sahibin-dark-color);
}

.text-sahibin-light {
  color: var(--sahibin-light-color);
}

.bg-sahibin-dark {
  background: var(--sahibin-dark-color);
}

.bg-sahibin-light {
  background: var(--sahibin-light-color);
}

.border-sahibin-light {
  --bs-border-opacity: 1;
  border-color: var(--sahibin-light-color) !important;
}

.border-sahibin-dark {
  --bs-border-opacity: 1;
  border-color: var(--sahibin-dark-color) !important;
}

.sahibin-logo {
  color: var(--sahibin-light-color);
  font-size: 1.6rem;
}

.sahibin-logo:hover {
  color: var(--sahibin-light-color);
  filter: brightness(90%);
  cursor: pointer;
}

.btn-outline-sahibin {
  --bs-btn-color: var(--sahibin-light-color);
  --bs-btn-border-color: var(--sahibin-light-color);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--sahibin-light-color);
  --bs-btn-hover-border-color: var(--sahibin-light-color);
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--sahibin-light-color);
  --bs-btn-active-border-color: var(--sahibin-light-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--sahibin-light-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--sahibin-light-color);
  --bs-gradient: none;
}
